body {
    font-family: helvetica;
    background-color: #999696;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center; /* Aligne les éléments verticalement */
    padding: 0px 40px; /* Ajoute de l'espace autour du contenu du header */


}

header h1{
    font-size: 24px;
    font-weight: bold;
    text-shadow:#333 1px;
}

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px; /* Hauteur totale du menu burger */
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333; /* Couleur des barres du burger */
    border-radius: 1px; /* Arrondir légèrement les barres */
}
